@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.navbar-nav{
    li{
        padding: 15px 10px;
        margin-left: 10px;
        a{
            color: whitesmoke;

        }
    }
    .active{
        background-color: red;

    }
}

.thumbnail{
   // border: 1px solid;
    padding: 15px;
}
.post{
    clear: both;
    border: 1px solid;
}
.admin{
    color: black!important;
}
.main-brand{
    color: whitesmoke!important;
}
#back-to-top{
    position: fixed;
    right: 2px;
    bottom: 15px;
    display: none;
    border: none;
    background: transparent;
    outline: none;
    z-index: 999;
    color: white;
}

body{
    background-image: url("http://fullhdwallpapers.ru/image/nature/13429/strashnyy-les.jpg");
    background-attachment: fixed;
    color:ghostwhite;
}

.category-image{
    max-width: 40px;
}

.next{
    position: absolute;
    top: 45%;
    right: -65px;
    -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: green;

}

.prev{
    position: absolute;
    top: 45%;
    left: -65px;
    -webkit-text-stroke-width: 1px!important;
    -webkit-text-stroke-color: green;

}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 8px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•'; /* <-- Вот этот символ */
    text-align: center;
    opacity: 1;
    color: red!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-item.active .page-link {
    border-color: #34ce57;

}


html{
    scroll-behavior: smooth;
}

.hover-effect{
    text-decoration: none!important;
    display: inline-block;
    position: relative;
}

#textFile{
    color: black;
    padding: 0!important;
    margin: 0!important;
}



.hover-effect::after{
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.card{
    background-color: transparent;
}

.col-form-label{
    font-weight: 900!important;
    font-size:18px;
    -webkit-text-stroke: 0.1px lawngreen;
    -webkit-text-stroke-color: lawngreen;

}

#email, #password,#name,#phone,#city,#street,#mail_index,#password-confirm,#code,#price{

    border-radius: 25px;
    border: 2px solid limegreen;
    background-color:ghostwhite;
    transition: width .8s;
}


#email:focus, #password:focus,#name:focus,#phone:focus,#city:focus,#street:focus,#mail_index:focus,#password-confirm:focus,#code:focus,#price:focus{
    border-color: blue;
    width: 120%;
}


#main{
   // -webkit-text-stroke-width: 1px;
//    -webkit-text-stroke-color: pink;
    margin-top: 13%;
    color: #1b1e21;
    background-color: white;
    position: relative;
    padding: 35px;
}

.hover-effect:hover:after,
.hover-effect:focus:after{
    width: 100%;
}
.thumbnail img {
    max-height: 200px!important;

}
.thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.slider{
    display: flex;
    position: relative;
}

.langs{
    width: 100%;
padding:15px 10px;
    text-transform: uppercase;
}

.main-menu-lang{
   background-color:  #343a40!important;
    min-width: 4rem;
    text-align: center;
}

.orders{
    background-color: white;
    h1{
        color: black;
    }
}

.order{
    color:black;
    background-color: white;
    padding: 20px 100px;
}


@media (max-width: 990px) {
    .navbar-nav {
        li {
            padding-left: 0px!important;
            margin-left: 0px!important;
            padding: 10px 0;
        }
    }
 .adaptive-admin-menu{
     display: none;
 }

    .order{
        padding: 0;
    }

    #email:focus, #password:focus,#name:focus,#phone:focus,#city:focus,#street:focus,#mail_index:focus,#password-confirm:focus{
        border-color: blue;
        width: 100%;
    }

    .container{
        padding-left: 7px!important;
    }


    .table td, .table th {
        padding: 0.6em;
    }

    .prod-img{
        max-width: 150px;
    }
}

@media (max-width: 400px) {

    .table td, .table th {
        padding: 0.4em;
    }

}
@media (max-width: 810px) {
    .adaptive-product-image {
        max-width: 280px;
    }
}
