@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.navbar-nav{
    li{
        padding: 15px 10px;
        margin-left: 10px;
        a{
            color: whitesmoke;

        }
    }
    .active{
        background-color: red;

    }
}

.thumbnail{
    border: 1px solid;
    padding: 15px;
}
 .post{
     clear: both;
     border: 1px solid;
 }
 .admin{
     color: black!important;
 }
 .main-brand{
     color: whitesmoke!important;
 }
 #back-to-top{
     position: fixed;
     right: 0px;
     bottom: 15px;
     display: none;
     border: none;
     background: transparent;
     outline: none;
     z-index: 999;
 }


 html{
     scroll-behavior: smooth;
 }

 @media (max-width: 990px) {
     .navbar-nav {
         li {
             padding-left: 0px!important;
             margin-left: 0px!important;
             padding: 10px 0;
         }
     }
     body{
         padding-right: 10px!important;
     }
 }
