@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);@charset "UTF-8";

.navbar-nav li {
  padding: 15px 10px;
  margin-left: 10px;
}

.navbar-nav li a {
  color: whitesmoke;
}

.navbar-nav .active {
  background-color: red;
  border-radius: 7px;
  border: 0.5px solid;
  opacity: 0.9;
}

.thumbnail {
  padding: 15px;
}

.post {
  clear: both;
}

.admin {
  color: black !important;
}

.main-brand {
  color: whitesmoke !important;
}

#back-to-top {
  position: fixed;
  right: 2px;
  bottom: 15px;
  display: none;
  border: none;
  background: transparent;
  outline: none;
  z-index: 999;
  color: white;
}

.card {
  border: 0;
}

body {
  background: white;
  background: radial-gradient(circle, white 0%, #19035b 100%);
  background-attachment: fixed;
  color: ghostwhite;
}

.category-image {
  max-width: 40px;
}

.next {
  position: absolute;
  top: 45%;
  right: -65px;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: green;
}

.prev {
  position: absolute;
  top: 45%;
  left: -65px;
  -webkit-text-stroke-width: 1px !important;
  -webkit-text-stroke-color: green;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 8px;
  line-height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\2022";
  text-align: center;
  opacity: 1;
  color: red !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-item.active .page-link {
  border-color: #34ce57;
}

html {
  scroll-behavior: smooth;
}

.hover-effect {
  text-decoration: none !important;
  display: inline-block;
  position: relative;
}

#textFile {
  color: black;
  padding: 0 !important;
  margin: 0 !important;
}

.hover-effect::after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.card {
  background-color: transparent;
}

.col-form-label {
  font-weight: 900 !important;
  font-size: 18px;
  -webkit-text-stroke: 0.5px lawngreen;
  -webkit-text-stroke-color: black;
}

#email,
#password,
#name,
#phone,
#city,
#street,
#mail_index,
#password-confirm,
#code,
#price {
  border-radius: 25px;
  border: 2px solid limegreen;
  background-color: ghostwhite;
  transition: 0.8s;
}

#email:focus,
#password:focus,
#name:focus,
#phone:focus,
#city:focus,
#street:focus,
#mail_index:focus,
#password-confirm:focus,
#code:focus,
#price:focus {
  border-color: blue;
  width: 120%;
  box-shadow: 10px 13px 23px -1px rgba(0, 0, 0, 0.86);
}

#main,
#main-extra {
  box-shadow: 10px 13px 23px -1px rgba(0, 0, 0, 0.86);
  border-radius: 25px;
  margin-top: 13%;
  color: #1b1e21;
  background-color: white;
  position: relative;
  padding: 35px;
}

.hover-effect:hover:after,
.hover-effect:focus:after {
  width: 100%;
}

.thumbnail img {
  max-height: 200px !important;
}

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider {
  display: flex;
  position: relative;
}

.langs {
  width: 100%;
  padding: 15px 10px;
  text-transform: uppercase;
}

.main-menu-lang {
  background-color: #343a40 !important;
  min-width: 4rem;
  text-align: center;
}

.orders {
  background-color: white;
}

.orders h1 {
  color: black;
}

@media (max-width: 990px) {
  .navbar-nav li {
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding: 10px 0;
  }

  .adaptive-admin-menu {
    display: none;
  }

  .order {
    padding: 0;
  }

  #email:focus,
  #password:focus,
  #name:focus,
  #phone:focus,
  #city:focus,
  #street:focus,
  #mail_index:focus,
  #password-confirm:focus {
    border-color: blue;
    width: 100%;
  }

  .table td,
  .table th {
    padding: 0.6em;
  }

  .prod-img {
    max-width: 150px;
  }
}

@media (max-width: 470px) {
  .order {
    padding: 12px !important;
  }

  #myFileUpload {
    width: 100%;
  }

  #main-extra {
    box-shadow: 10px 13px 23px -1px rgba(0, 0, 0, 0.86);
    border-radius: 25px;
    margin-top: 13%;
    color: #1b1e21;
    background-color: white;
    position: relative;
    padding: 0px;
  }

  #main-extra h1 {
    text-align: center;
  }

  .table td,
  .table th {
    padding: 0.4em;
    text-wrap: normal;
  }

  .ind-order {
    padding: 0px !important;
  }

  .row-adapt {
    margin: 0px !important;
  }

  .post-image {
    max-width: 55px!important;
  }

  .categories-admin {
    padding: 0 !important;
  }

  .post-title {
    font-size: 17px;
  }

  .post-text {
    font-size: 12px;
  }
}

@media (max-width: 810px) {
  .adaptive-product-image {
    max-width: 100px!important;
  }
}

@media (max-width: 768px) {
  .post-image {
    max-width: 100px!important;
  }

  .post-title {
    font-size: 19px;
  }

  .post-text {
    font-size: 14px;
  }
}

